    
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }
        h2{
            text-align: center;
        }
        header {
            background-color: #008080;
            color: #fff;
            padding: 10px;
            text-align: center;
        }
        nav {
            background-color: #800080;
            padding: 10px;
            text-align: center;
        }
        nav a {
            color: #fff;
            text-decoration: none;
            margin: 0 10px;
        }
        main {
            width: 100%;
        }
        .services {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            margin-top: 20px;
        }
        .service {
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
            padding: 20px;
            width: 94%;
            margin-bottom: 20px;
        }
        footer {
            background-color: #008000;
            color: #fff;
            text-align: center;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>